<!doctype html>
<html>
  <style>
      h1 {text-align: center;}
      p {text-align: center;}
    h1 {font-size:100px;}
  </style>
   
  <h1> Taxi or Hotel Claims </h1>
<body>
  <p style="text-align: center;"> <b>Please note</b> This will the page to claim Taxi or Hotel costs back</p>
    <p style="text-align: center;"> If you require a <b>Ticket Refund</b> click here</p>
    <p style="text-align: center;"> If you require <b>Delay Repay</b> click<a href="https://delayrepay.southwesternrailway.com/en/login?loginTarget=%2F"> here</a></p>
  <p style="text-align: center;">I need to find out how to write HTML</p>
  <p style="text-align: center;">I also need to find out if a seperate Webform can be added onto this page</p>
</body>
</html>